services:
  web:
    image: auctioneer
    build: .
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - sqlite-instance:/auctioneer/instance
    env_file:
      - web.env
  nginx:
    build: ./nginx
    ports:
      - 80:80
      - 443:443
    depends_on:
      - web

volumes:
  sqlite-instance: