services:
  web:
    image: ghcr.io/adtodesco/auctioneer:latest
    platform: linux/amd64
    ports:
      - "127.0.0.1:8000:8000"
    volumes:
      - sqlite-instance:/auctioneer/instance
    env_file:
      - web.env
  nginx:
    image: ghcr.io/adtodesco/auctioneer-nginx:latest
    platform: linux/amd64
    ports:
      - 80:80
      - 443:443
    depends_on:
      - web

volumes:
  sqlite-instance: