{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Create a block{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="block_num">Block number</label>
    <input name="block_num" id="block_num" type="number" required>
    <label for="start_date">Block start date</label>
    <input name="start_date" id="start_date" type="date" required>
    <label for="start_time">Block start time (ET)</label>
    <input name="start_time" id="start_time" type="time" required>
    <label for="num_slots">Number of slots</label>
    <input name="num_slots" id="num_slots" type="number" required>
    <label for="slot_timedelta">Time between slots (in minutes)</label>
    <input name="slot_timedelta" id="slot_timedelta" type="number" required>
    <input type="submit" value="Submit">
</form>
{% endblock %}