{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="team">Team</label>
    <select name="team" id="team" required>
        <option disabled selected value="">-- Select a team --</option>
        {% for team in unclaimed_teams %}
        <option value="{{ team }}">{{ team }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Register">
</form>
{% endblock %}