{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}League Manager Tools{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<table>
    <tr>
        <th>Action</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><a class="action" href="{{ url_for('admin.slots.index') }}">Edit slots</a></td>
        <td>Add, remove or edit auction slots.</td>
    </tr>
    <tr>
        <td><a class="action" href="{{ url_for('admin.players.index') }}">Edit players</a></td>
        <td>Edit players status and match rights.</td>
    </tr>
</table>
{% endblock %}