{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Free Agency Overview{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<h3>Auction Rules</h3>
<ul>
    <li>There are six auction rounds that close every Sunday at 6 pm ET with 28 players per round</li>
    <li>The nomination period for each auction round runs from Monday monrning through Thursday night</li>
    <li>Managers can nominate at least two players per round. If the round has not been filed by Thursday then managers can nominated a third player</li>
    <li>All managers can bid on all nominated players. The nominating manager must have at least the minimum bid for any player they nominated</li>
    <li>The winning bid is revealed when the auction closes. This bid amount becomes the player's total salary</li>
    <li>If there's a tie, a tiebreaker order is used and the winning manager moves to the bottom of the order. The <a href="{{url_for('tiebreaker.index')}}">tiebreaker order page</a> shows the current order</li>
    <li>Managers with match rights have 24 hours after the auction closes to accept or decline the option to re-sign the player. Managers get match rights for players coming off of a 2+ year contract</li>
    <li>Once a player is won in auction, they will appear on the team's roster and the manager can sign them to a contract</li>
    <li>Contracts must meet the minimum requirements specified in the <a target="_blank" href="https://docs.google.com/spreadsheets/d/1kgbaJwiIzM4mq9iLhm8pI0_-MsZcjrV_YETkNyeBZZM/edit?usp=sharing">salary cap and contracts sheet</a>. Only valid contracts will be available on the signing page</li>
    <li>The annual salary x contract length may be slightly greater than the total salary due to rounding. For example, a $82 total salary can be split into 1-year at $82, 2-years at $41, or 3-years at $28 (rounded up from $27.33). Consider this when bidding</li>
</ul>

<h3>League Resources</h3>
<ul>
    <li><a target="_blank"
            href="https://docs.google.com/document/d/1ZzluMv58VeK26Kr92LESMp3iYygCSPg42hGWftxtnYg/edit?usp=sharing">The
            DOO Constitution</a></li>
    <li><a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1kgbaJwiIzM4mq9iLhm8pI0_-MsZcjrV_YETkNyeBZZM/edit?usp=sharing">The
            DOO Salary Cap and Contracts</a></li>
    <li><a target="_blank"
            href="https://docs.google.com/spreadsheets/d/1EotWb4G-UrB3Vcsy_ZN3enrWPmFrlWGvJFSMTY9A5bk/edit?usp=sharing">The
            DOO 2025 FA Match Eligibility</a></li>
</ul>

<h3>Timeline</h3>
<br>
<div style="display: flex; justify-content: center;">
    <iframe src="https://calendar.google.com/calendar/embed?src=bf21d348aec05136fc2b166d5abaf0d89feb6e88d4b795cbfcc3cc5deee99908%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock %}