html {
    font-family: 'Times New Roman', Times, serif;
    background: white;
    padding: 1rem;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1rem 0;
}

a {
    color: #377ba8;
}

table .number {
    text-align: right;
}

table .signed {
    color: rgb(255, 92, 92);
}

th,
td {
    text-align: left;
    padding-right: 10px;
}

hr {
    border: none;
    border-top: 1px solid lightgray;
}

nav {
    background: lightgray;
    display: flex;
    align-items: center;
    padding: 0;
}

nav>img {
    margin-left: 10px;
}

nav h1 {
    margin: 0.5rem;
    font-size: 1.6em;
}

nav h1>a {
    color: #000000;
}

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav div {
    flex: auto;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a,
nav ul li span,
.modifiable .action {
    display: block;
    padding: 0.5rem;
    white-space: nowrap;
    font-size: 1em;
}

.content {
    padding: 0 1rem 1rem;
}

.content>.modifiable {
    display: flex;
    align-items: flex-end;
}

.content>.modifiable h1,
h3 {
    flex: auto;
    margin: 1rem 0 0.25rem 0;
}

.content h1 {
    font-size: 1.5em;
}

.flash {
    margin: 1em 0;
    padding: 1em;
    background: #cae6f6;
    border: 1px solid #377ba8;
}

.nomination>.modifiable {
    display: flex;
    align-items: flex-end;
}

.nomination>.modifiable>div:first-of-type {
    flex: auto;
}

.nomination>.modifiable h2 {
    margin-bottom: 0;
}

.nomination .about {
    color: #808080;
    margin-top: 0;
}

.nomination .bid,
.status {
    margin: 0;
}

.nomination .bids,
.match,
.sign {
    margin-bottom: 0;
}

.opened {
    background: #cce5cc;
    padding: 0 .5em .5em
}

.matching {
    background: #ffffb2;
    padding: 0 .5em .5em
}

.closed {
    background: #ffb2b2;
    padding: 0 .5em .5em
}

.content:last-child {
    margin-bottom: 0;
}

.content form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
}

.content label {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.content input,
.content textarea {
    margin-bottom: 1em;
}

.content .select2,
.content textarea {
    margin-bottom: 1em;
}

.content textarea {
    min-height: 12em;
    resize: vertical;
}

input.danger {
    color: #cc2f2e;
}

input[type=submit] {
    align-self: start;
    min-width: 10em;
}

input[type=reset] {
    align-self: start;
    min-width: 10em;
}

.teams {
    padding: 5px 0 15px 0;
}

.roster {
    display: flex;
    justify-content: space-between;
}

.players {
    flex: 65%;
}

.submit-buttons {
    display: flex;
    column-gap: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }