{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit tiebreaker order{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    {% for user in users %}
    <label for="user_{{ user.id }}_tiebreaker_order">{{ user.short_team_name }}</label>
    <input name="user_{{ user.id }}_tiebreaker_order" id="user_{{ user.id }}_tiebreaker_order"
        value="{{ request.form['user_{{ user.id }}_tiebreaker_order'] or user.tiebreaker_order }}" required>
    {% endfor %}
    <input type="submit" value="Save">
</form>
{% endblock %}