{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Tiebreaker Order{% endblock %}</h1>
{% if g.user.is_league_manager %}
<a class="action" href="{{ url_for('tiebreaker.edit') }}">Edit</a>
{% endif %}
{% endblock %}

{% block content %}
<hr>

<table style="border: 1px solid #ddd; border-collapse: collapse; max-width: 600px;">
    <thead>
        <tr>
            <th style="border: 1px solid #ddd; padding: 0.5em; width: 80px;">Order</th>
            <th style="border: 1px solid #ddd; padding: 0.5em;">Team</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        {% if user.tiebreaker_order %}
        <tr>
            <td style="border: 1px solid #ddd; padding: 0.5em;">{{ user.tiebreaker_order }}</td>
            <td style="border: 1px solid #ddd; padding: 0.5em;">{{ user.team_name }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
