{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit {{ nomination.player.name }} | {{nomination.player.team }} | {{
    nomination.player.position.replace(",", ", ") }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<form method="post">
    <label for="slot_id">Auction closes at</label>
    <select name="slot_id" id="slot_id" required>
        <option disabled selected value="">-- Select a date & time --</option>
        {% for num, slots in blocks.items() %}
        <optgroup label="Block {{ num }}">
            {% for slot in slots %}
            {% if slot.id == nomination.slot_id %}
            <option value="{{ slot.id }}" selected>{{ slot.closes_at.strftime("%Y-%m-%d @ %-I:%M %p") }} ET</option>
            {% else %}
            <option value="{{ slot.id }}">{{ slot.closes_at.strftime("%Y-%m-%d @ %-I:%M %p") }} ET</option>
            {% endif %}
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <label for="matcher_id">Match rights</label>
    <select name="matcher_id" id="matcher_id">
        {% if not nomination.matcher_id %}
        <option value="">No matcher</option>
        {% else %}
        <option value="" selected>No matcher</option>
        {% endif %}
        {% for user in users %}
        {% if user.id == nomination.matcher_id %}
        <option value="{{ user.id }}" selected>{{ user.username }}</option>
        {% else %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <label for="winner_id">Winner</label>
    <select name="winner_id" id="winner_id">
        {% if not nomination.winner_id %}
        <option value="">No winner</option>
        {% else %}
        <option value="" selected>No winner</option>
        {% endif %}
        {% for user in users %}
        {% if user.id == nomination.winner_id %}
        <option value="{{ user.id }}" selected>{{ user.username }}</option>
        {% else %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <div class="submit-buttons">
        <input type="submit" name="action" value="Save">
        <input type="submit" name="action" value="Delete" class="danger"
            onclick="return confirm('Are you sure you want to delete this nomination?');">
    </div>
</form>
{% endblock %}