{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Players{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('auction.nominate') }}">Nominate</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for player in open_players %}
    <div class="player opened">
      <div class="modifiable">
        <div>
          <h2>{{ player['name'] }} | {{ player['position'] }} | {{ player['team'] }}</h2>
          <p class="about">Nominated on {{ player['created_at'].strftime('%B %-m, %Y at %I:%m:%S%p') }} by {{ player['nominator_username'] }}</p>
        </div>
        {% if g.user['is_league_manager'] == True %}
          <a class="action" href="{{ url_for('auction.update', id=player['id']) }}">Edit</a>
        {% endif %}
      </div>
      <div>
        {% if player['ends_at'] %}
        <p class="status">Auction ends at: {{ player['ends_at'].strftime('%I:%m:%S%p on %B %-m, %Y') }}.</p>
        {% else %}
        <p class="status">Auction end time has not been set.</p>
        {% endif %}
        {% if player['matcher_id'] %}
        <p class="match">Match rights: {{ player['matcher_username'] }}</p>
        {% endif %}
      </div>
      {% if g.user %}
      <div class="modifiable">
        <div>
          <p class="bid">{{ g.user['username'] }}'s current bid: {{ player['user_value'] }}</p>
        </div>
        <a class="action" href="{{ url_for('auction.bid', id=player['id']) }}">Bid</a>
      </div>
      {% endif %}
    </div>
    <hr>
  {% endfor %}

  {% for player in match_players %}
    <div class="player matching">
      <div class="modifiable">
        <div>
          <h2>{{ player['name'] }} | {{ player['position'] }} | {{ player['team'] }}</h2>
          <p class="about">Nominated on {{ player['created_at'].strftime('%B %-m, %Y at %I:%m:%S%p') }} by {{ player['nominator_username'] }}</p>
        </div>
        {% if g.user['is_league_manager'] == True %}
          <a class="action" href="{{ url_for('auction.update', id=player['id']) }}">Edit</a>
        {% endif %}
      </div>
      {% if g.user['id'] == player['match_id'] %}
      <div class="modifiable">
        <div>
          <p class="bid">Winning bid for {{ player['name'] }}: {{ player['value'] }}</p>
        </div>
        <a class="action" href="{{ url_for('auction.match', id=player['id']) }}">Match</a>
      </div >
      {% endif %}
    </div>
    <hr>
  {% endfor %}

  {% for player in closed_players %}
    <div class="player closed">
      <div class="modifiable">
        <div>
          <h2>{{ player['name'] }} | {{ player['position'] }} | {{ player['team'] }}</h2>
          <p class="about">Nominated on {{ player['created_at'].strftime('%B %-m, %Y at %I:%m:%S%p') }} by {{ player['nominator_username'] }}</p>
        </div>
        {% if g.user['is_league_manager'] == True %}
          <a class="action" href="{{ url_for('auction.update', id=player['id']) }}">Edit</a>
        {% endif %}
      </div>
      <div>
        <p class="status">Auction is closed! {{ player["winner_username"] }} won the auction with a bid of ${{ player["winner_value"] }}.</p>
      </div>
    </div>
    <hr>
  {% endfor %}
{% endblock %}