{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Match bid{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<form method="post">
    {% if discounted_bid %}
    <label for="match">
        Match the ${{ winning_bid }} bid and re-sign {{ nomination.player.name }}?<br>
        <strong>Hometown discount applies: Your cost will be ${{ discounted_bid }} (90% of winning bid)</strong>
    </label>
    {% else %}
    <label for="match">Match the ${{ winning_bid }} bid and re-sign {{ nomination.player.name }}?</label>
    {% endif %}
    <select name="match" id="match" required>
        <option disabled selected value="">-- Select yes or no --</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    <input type="submit" value="Save">
</form>
<hr>
{% endblock %}