{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Nominate player{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="player_id">Player</label>
    <select name="player_id" id="player_id" required>
        <option disabled selected value="">-- Select a player --</option>
        {% for player in players %}
        <option value="{{ player.id }}">{{ player.name }} | {{ player.team }} | {{ player.position.replace(",", ", ") }}
        </option>
        {% endfor %}
    </select>
    <label for="slot_id">Auction closes at</label>
    <select name="slot_id" id="slot_id" required>
        <option disabled selected value="">-- Select a date & time --</option>
        {% for num, slots in blocks.items() %}
        <optgroup label="Block {{ num }}">
            {% for slot in slots %}
            <option value="{{ slot.id }}">{{ slot.closes_at.strftime("%Y-%m-%d @ %-I:%M %p") }} ET</option>
            {% endfor %}
        </optgroup>
        {% endfor %}
    </select>
    <label for="matcher_id">Match rights</label>
    <select name="matcher_id" id="matcher_id">
        <option selected value="">None</option>
        {% for user in users %}
        <option value="{{ user.id }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <label for="bid_value">Enter bid below. Your bid will become the players total salary if you win this player's
        auction.</label>
    <input name="bid_value" id="bid_value" value="{{ request.form['bid_value'] }}" required>
    <input type="submit" value="Save">
</form>
{% endblock %}