{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Nominate player{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<form method="post">
    <label for="player_id">Player</label>
    <select name="player_id" id="player_id" required>
        <option disabled selected value="">-- Select a player --</option>
        {% for player in players %}
        <option value="{{ player.id }}">{{ player.name }} | {{ player.team }} | {{ player.position.replace(",", ", ") }}
        </option>
        {% endfor %}
    </select>
    <label for="bid_value">Enter bid below. Your bid will become the players total salary if you win this player's
        auction.</label>
    <input name="bid_value" id="bid_value" value="{{ request.form['bid_value'] }}" required>
    <input type="submit" value="Save">
</form>
{% endblock %}