{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ player['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="name">Name</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or player['name'] }}" required>
    <label for="position">Position</label>
    <select name="position" id="position" required>
      {% for pos in positions %}
        {% if pos == player['position'] %}
        <option value="{{ pos }}" selected>{{ pos }}</option>
        {% else %}
        <option value="{{ pos }}">{{ pos }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="team">Team</label>
    <select name="team" id="team" required>
      {% for team in teams %}
        {% if team == player['team'] %}
        <option value="{{ team }}" selected>{{ team }}</option>
        {% else %}
        <option value="{{ team }}">{{ team }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="ends_at">Ends at</label>
    <input name="ends_at" id="ends_at" type="datetime-local"
      value="{{ request.form['ends_at'] or player['ends_at'] }}">
    <label for="matcher_id">Match rights</label>
    <select name="matcher_id" id="matcher_id">
      {% if not player['matcher_id'] %}
      <option value="">No matcher</option>
      {% else %}
      <option value="" selected>No matcher</option>
      {% endif %}
      {% for user in users %}
        {% if user['id'] == player['matcher_id'] %}
        <option value="{{ user['id'] }}" selected>{{ user['username'] }}</option>
        {% else %}
        <option value="{{ user['id'] }}">{{ user['username'] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <label for="winner_id">Winner</label>
    <select name="winner_id" id="winner_id">
      {% if not player['winner_id'] %}
      <option value="">No winner</option>
      {% else %}
      <option value="" selected>No winner</option>
      {% endif %}
      {% for user in users %}
        {% if user['id'] == player['winner_id'] %}
        <option value="{{ user['id'] }}" selected>{{ user['username'] }}</option>
        {% else %}
        <option value="{{ user['id'] }}">{{ user['username'] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('auction.delete', id=player['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}