{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Edit round{% endblock %}</h1>
{% endblock %}

{% block content %}
<hr>
<form method="post">
    <label for="round_num">Round number</label>
    <input name="round_num" id="round_num" type="number" value="{{ request.form['round_num'] or round }}" required>
    <div class="submit-buttons">
        <input type="submit" name="action" value="Save">
        <input type="submit" name="action" value="Delete" class="danger"
            onclick="return confirm('Are you sure you want to delete this round?');">
    </div>
</form>
<div>Nomination period: <strong>{{ moment(slots[0].nomination_opens_at).format('LLLL') }}</strong> until <strong>{{ moment(slots[0].nomination_closes_at).format('LLLL') }}</strong></div>
<ul>
    {% for slot in slots %}
    <li>{{ moment(slot.closes_at).format('LLL') }}</li>
    {% endfor %}
</ul>
{% endblock %}